<a href="https://colab.research.google.com/github/El-awwal/demo/blob/main/Agba_promise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd


data = pd.read_csv('StudentsPerformance2.csv')

In [2]:
data.head()

,Unnamed: 0,gender,race/ethnicity,parental level of education,lunch,exam preparation course,CSC101,CSC102,CSC103,student score,grade class
0,0,female,group B,bachelor's degree,standard,none,72,72,74,72.67,Second Class Upper
1,1,female,group C,some college,standard,completed,69,90,88,82.33,First Class
2,2,female,group B,master's degree,standard,none,90,95,93,92.67,First Class
3,3,male,group A,associate's degree,free/reduced,none,47,57,44,49.33,Pass
4,4,male,group C,some college,standard,none,76,78,75,76.33,First Class

In [4]:
data['grade class'].value_counts()

Second Class Upper    369
First Class           350
Second Class Lower    167
Pass                   97
Fail                   17
Name: grade class, dtype: int64

In [7]:
data['grade']=data['grade class']

In [8]:
data['grade']

0      Second Class Upper
1             First Class
2             First Class
3                    Pass
4             First Class
              ...
995           First Class
996    Second Class Lower
997    Second Class Upper
998           First Class
999           First Class
Name: grade, Length: 1000, dtype: object

In [9]:
# Assigning grades to the grades according to the following criteria :
# Fail : grade E
# Pass : grade D
# Second Class Lower : grade C
# Second Class Upper : grade B
# First Class : grade A


def getgrade(grade):
  if (grade) == 'Fail':
    return 'E'
  if(grade) == 'Pass':
    return 'D'
  if(grade) == 'First Class':
    return 'A'
  if(grade) == 'Second Class Upper':
    return 'B'
  if(grade) == 'Second Class Lower':
    return 'C'
  else :
    return 'E'

data['new_grades'] = data.apply(lambda x: getgrade(x['grade']), axis = 1 )

In [21]:
#data = data.drop(['grade class', 'student score', 'grade' ],  axis=1)
data

,Unnamed: 0,gender,race/ethnicity,parental level of education,lunch,exam preparation course,CSC101,CSC102,CSC103,new_grades
0,0,0,2,1,1,1,52,44,50,2
1,1,0,3,4,1,0,49,62,64,1
2,2,0,2,3,1,1,70,67,69,1
3,3,1,1,0,0,1,27,29,20,4
4,4,1,3,4,1,1,56,50,51,1
...,...,...,...,...,...,...,...,...,...,...
995,995,0,5,3,1,0,68,70,71,1
996,996,1,3,2,0,1,42,27,31,3
997,997,0,3,2,0,0,39,43,41,2
998,998,0,4,4,1,0,48,50,53,1
999,999,0,4,4,0,1,57,58,62,1

In [13]:
# LABEL ENCODING

from sklearn.preprocessing import LabelEncoder

# creating an encoder
le = LabelEncoder()

# label encoding for test preparation course
data['exam preparation course'] = le.fit_transform(data['exam preparation course'])
data['lunch'] = le.fit_transform(data['lunch'])
data['race/ethnicity'] = data['race/ethnicity'].replace('group A', 1)
data['race/ethnicity'] = data['race/ethnicity'].replace('group B', 2)
data['race/ethnicity'] = data['race/ethnicity'].replace('group C', 3)
data['race/ethnicity'] = data['race/ethnicity'].replace('group D', 4)
data['race/ethnicity'] = data['race/ethnicity'].replace('group E', 5)
data['parental level of education'] = le.fit_transform(data['parental level of education'])
data['gender'] = le.fit_transform(data['gender'])
data['CSC101'] = le.fit_transform(data['CSC101'])
data['CSC102'] = le.fit_transform(data['CSC102'])
data['CSC103'] = le.fit_transform(data['CSC103'])
data['new_grades'] = data['new_grades'].replace('A', 1)
data['new_grades'] = data['new_grades'].replace('B', 2)
data['new_grades'] = data['new_grades'].replace('C', 3)
data['new_grades'] = data['new_grades'].replace('D', 4)
data['new_grades'] = data['new_grades'].replace('E', 5)

In [30]:
# splitting the dependent and independent variables

X = data.iloc[:,1:9]
y = data.iloc[:,9]

print(X.shape)
print(y.shape)

(1000, 8)
(1000,)

In [31]:
# splitting the dataset into training and test sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 45)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(750, 8)
(750,)
(250, 8)
(250,)

In [32]:
# importing the MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

# creating a scaler
mm = MinMaxScaler()

# feeding the independent variable into the scaler
X_train = mm.fit_transform(X_train)
X_test = mm.transform(X_test)

In [33]:
from sklearn.linear_model import  LogisticRegression

# creating a model
model = LogisticRegression(penalty = 'l2', solver = 'lbfgs', multi_class = 'auto', max_iter = 1000)

# feeding the training data to the model
model.fit(X_train, y_train)

# predicting the test set results
y_pred = model.predict(X_test)

# calculating the classification accuracies
print("Training Accuracy :", model.score(X_train, y_train))
print("Testing Accuracy :", model.score(X_test, y_test))

Training Accuracy : 0.796
Testing Accuracy : 0.804

In [39]:
y_pred

array([1, 3, 1, 2, 1, 2, 1, 1, 4, 2, 4, 2, 1, 2, 3, 4, 1, 2, 4, 3, 3, 2,
       1, 2, 1, 2, 1, 2, 4, 2, 3, 1, 4, 1, 4, 1, 1, 1, 1, 3, 2, 2, 2, 2,
       1, 2, 2, 2, 3, 2, 2, 3, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1,
       3, 2, 3, 2, 3, 1, 3, 2, 2, 1, 2, 2, 2, 3, 2, 2, 3, 2, 3, 2, 2, 3,
       4, 2, 1, 2, 3, 2, 1, 2, 3, 2, 2, 1, 3, 1, 1, 2, 2, 2, 1, 2, 1, 4,
       2, 1, 1, 1, 1, 2, 1, 4, 4, 1, 2, 2, 4, 2, 3, 2, 1, 2, 1, 2, 2, 1,
       3, 3, 2, 1, 1, 3, 2, 1, 2, 2, 1, 2, 1, 2, 2, 4, 1, 3, 2, 4, 2, 1,
       2, 2, 2, 2, 1, 1, 2, 3, 2, 2, 2, 1, 1, 2, 3, 1, 1, 2, 3, 1, 3, 4,
       2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 2, 4, 3, 2, 4, 2, 1, 2, 1, 1, 2,
       3, 2, 2, 4, 2, 2, 2, 1, 2, 3, 4, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2,
       1, 4, 1, 1, 3, 2, 1, 3, 3, 1, 2, 2, 1, 1, 2, 1, 2, 2, 3, 4, 2, 1,
       1, 2, 2, 3, 1, 2, 1, 3])

In [38]:
y

0      2
1      1
2      1
3      4
4      1
      ..
995    1
996    3
997    2
998    1
999    1
Name: new_grades, Length: 1000, dtype: int64

In [ ]:
#You fit look maybe you go understand explain for me because i just do copyandpaste, i understood to some extent sha