<a href="https://colab.research.google.com/github/El-awwal/demo/blob/main/Agba_promise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd


data = pd.read_csv('StudentsPerformance2.csv')

In [2]:
data.head()

,Unnamed: 0,gender,race/ethnicity,parental level of education,lunch,exam preparation course,CSC101,CSC102,CSC103,student score,grade class
0,0,female,group B,bachelor's degree,standard,none,72,72,74,72.67,Second Class Upper
1,1,female,group C,some college,standard,completed,69,90,88,82.33,First Class
2,2,female,group B,master's degree,standard,none,90,95,93,92.67,First Class
3,3,male,group A,associate's degree,free/reduced,none,47,57,44,49.33,Pass
4,4,male,group C,some college,standard,none,76,78,75,76.33,First Class

In [3]:
#data['grade class'].value_counts()
data.columns

Index(['Unnamed: 0', 'gender', 'race/ethnicity', 'parental level of education',
       'lunch', 'exam preparation course', 'CSC101', 'CSC102', 'CSC103',
       'student score', 'grade class'],
      dtype='object')

In [4]:
data['grade']=data['grade class']

In [5]:
data.target_names = data.grade.copy()
data.target_names

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

0      Second Class Upper
1             First Class
2             First Class
3                    Pass
4             First Class
              ...
995           First Class
996    Second Class Lower
997    Second Class Upper
998           First Class
999           First Class
Name: grade, Length: 1000, dtype: object

In [6]:
data['grade'] = data['grade'].replace('First Class', 0)
data['grade'] = data['grade'].replace('Second Class Upper', 1)
data['grade'] = data['grade'].replace('Second Class Lower', 2)
data['grade'] = data['grade'].replace('Pass', 3)
data['grade'] = data['grade'].replace('Fail', 4)

In [7]:
data.target_names

0      Second Class Upper
1             First Class
2             First Class
3                    Pass
4             First Class
              ...
995           First Class
996    Second Class Lower
997    Second Class Upper
998           First Class
999           First Class
Name: grade, Length: 1000, dtype: object

In [8]:
#from sklearn.preprocessing import LabelEncoder

# creating an encoder
#le = LabelEncoder()

#data.grade_names = le.fit_transform(data.grade_names)

data.grade[:20]

0     1
1     0
2     0
3     3
4     0
5     0
6     0
7     3
8     1
9     2
10    2
11    3
12    1
13    1
14    2
15    0
16    0
17    4
18    3
19    1
Name: grade, dtype: int64

In [9]:
# Assigning grades to the grades according to the following criteria :
# Fail : grade E
# Pass : grade D
# Second Class Lower : grade C
# Second Class Upper : grade B
# First Class : grade A


#def getgrade(grade_names):
 # if (grade_names) == 'Fail':
 #   return 'E'
 # if(grade_names) == 'Pass':
 #   return 'D'
 # if(grade_names) == 'First Class':
 #   return 'A'
 # if(grade_names) == 'Second Class Upper':
 #   return 'B'
  #if(grade_names) == 'Second Class Lower':
  #  return 'C'
  #else :
  #  return 'E'

#data['new_grades'] = getgrade(data['grade_names'])

In [10]:
#data = data.drop(['grade class', 'student score', 'grade_names', 'Unnamed:0' ],  axis=1)
data=data.drop('Unnamed: 0',axis=1)

In [11]:
new_data = data.drop('grade class',axis=1)

new_data

,gender,race/ethnicity,parental level of education,lunch,exam preparation course,CSC101,CSC102,CSC103,student score,grade
0,female,group B,bachelor's degree,standard,none,72,72,74,72.67,1
1,female,group C,some college,standard,completed,69,90,88,82.33,0
2,female,group B,master's degree,standard,none,90,95,93,92.67,0
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.33,3
4,male,group C,some college,standard,none,76,78,75,76.33,0
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.00,0
996,male,group C,high school,free/reduced,none,62,55,55,57.33,2
997,female,group C,high school,free/reduced,completed,59,71,65,65.00,1
998,female,group D,some college,standard,completed,68,78,77,74.33,0
999,female,group D,some college,free/reduced,none,77,86,86,83.00,0

In [12]:
# LABEL ENCODING

from sklearn.preprocessing import LabelEncoder

# creating an encoder
le = LabelEncoder()

# label encoding for test preparation course
data['exam preparation course'] = le.fit_transform(data['exam preparation course'])
data['lunch'] = le.fit_transform(data['lunch'])
data['race/ethnicity'] = data['race/ethnicity'].replace('group A', 1)
data['race/ethnicity'] = data['race/ethnicity'].replace('group B', 2)
data['race/ethnicity'] = data['race/ethnicity'].replace('group C', 3)
data['race/ethnicity'] = data['race/ethnicity'].replace('group D', 4)
data['race/ethnicity'] = data['race/ethnicity'].replace('group E', 5)
data['parental level of education'] = le.fit_transform(data['parental level of education'])
data['gender'] = le.fit_transform(data['gender'])
#new_data['CSC101'] = le.fit_transform(new_data['CSC101'])
#new_data['CSC102'] = le.fit_transform(new_data['CSC102'])
#new_data['CSC103'] = le.fit_transform(new_data['CSC103'])
#data['grade class'] = le.fit_transform(data['grade class'])

In [13]:
data

,gender,race/ethnicity,parental level of education,lunch,exam preparation course,CSC101,CSC102,CSC103,student score,grade class,grade
0,0,2,1,1,1,72,72,74,72.67,Second Class Upper,1
1,0,3,4,1,0,69,90,88,82.33,First Class,0
2,0,2,3,1,1,90,95,93,92.67,First Class,0
3,1,1,0,0,1,47,57,44,49.33,Pass,3
4,1,3,4,1,1,76,78,75,76.33,First Class,0
...,...,...,...,...,...,...,...,...,...,...,...
995,0,5,3,1,0,88,99,95,94.00,First Class,0
996,1,3,2,0,1,62,55,55,57.33,Second Class Lower,2
997,0,3,2,0,0,59,71,65,65.00,Second Class Upper,1
998,0,4,4,1,0,68,78,77,74.33,First Class,0
999,0,4,4,0,1,77,86,86,83.00,First Class,0

In [14]:
# splitting the dependent and independent variables

X = data.iloc[:,:9]
y = data.iloc[:,9]

print(X.shape)
print(y.shape)

(1000, 9)
(1000,)

In [15]:
y

0      Second Class Upper
1             First Class
2             First Class
3                    Pass
4             First Class
              ...
995           First Class
996    Second Class Lower
997    Second Class Upper
998           First Class
999           First Class
Name: grade class, Length: 1000, dtype: object

In [16]:
X

,gender,race/ethnicity,parental level of education,lunch,exam preparation course,CSC101,CSC102,CSC103,student score
0,0,2,1,1,1,72,72,74,72.67
1,0,3,4,1,0,69,90,88,82.33
2,0,2,3,1,1,90,95,93,92.67
3,1,1,0,0,1,47,57,44,49.33
4,1,3,4,1,1,76,78,75,76.33
...,...,...,...,...,...,...,...,...,...
995,0,5,3,1,0,88,99,95,94.00
996,1,3,2,0,1,62,55,55,57.33
997,0,3,2,0,0,59,71,65,65.00
998,0,4,4,1,0,68,78,77,74.33
999,0,4,4,0,1,77,86,86,83.00

In [17]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()
clf.fit(X,y)

RandomForestClassifier()

In [18]:
clf.feature_importances_

array([0.01209788, 0.00455267, 0.00516133, 0.00217658, 0.00654114,
       0.05480564, 0.14832466, 0.54117552, 0.22516457])

In [19]:
# splitting the dataset into training and test sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(800, 9)
(800,)
(200, 9)
(200,)

In [20]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [21]:
#predicted class labels
prediction = clf.predict(X_test)

prediction

array(['Second Class Upper', 'First Class', 'First Class',
       'Second Class Upper', 'Pass', 'Second Class Upper', 'First Class',
       'First Class', 'Second Class Upper', 'First Class', 'Pass',
       'Second Class Upper', 'Pass', 'Second Class Upper', 'First Class',
       'First Class', 'First Class', 'Second Class Upper',
       'Second Class Lower', 'Second Class Upper', 'First Class', 'Fail',
       'First Class', 'Second Class Upper', 'First Class', 'First Class',
       'First Class', 'First Class', 'First Class', 'First Class',
       'First Class', 'Second Class Lower', 'First Class',
       'Second Class Upper', 'Second Class Upper', 'Second Class Upper',
       'Pass', 'First Class', 'Second Class Upper', 'Second Class Upper',
       'Pass', 'Second Class Lower', 'Pass', 'Second Class Upper',
       'Second Class Upper', 'First Class', 'Second Class Upper',
       'Second Class Upper', 'First Class', 'Second Class Lower',
       'First Class', 'Second Class Upper', 'First Class', 'First Class',
       'First Class', 'Pass', 'First Class', 'Second Class Upper', 'Pass',
       'First Class', 'Second Class Lower', 'Second Class Lower',
       'Second Class Lower', 'First Class', 'Second Class Upper', 'Pass',
       'Pass', 'First Class', 'Second Class Upper', 'First Class',
       'Second Class Lower', 'Fail', 'Second Class Upper', 'First Class',
       'Second Class Upper', 'Second Class Upper', 'Second Class Lower',
       'Second Class Upper', 'First Class', 'Second Class Upper', 'Pass',
       'Second Class Upper', 'First Class', 'Second Class Lower',
       'Second Class Upper', 'Second Class Lower', 'First Class',
       'Second Class Lower', 'Second Class Lower', 'First Class',
       'Second Class Upper', 'Second Class Upper', 'First Class',
       'First Class', 'First Class', 'First Class', 'Second Class Lower',
       'Second Class Upper', 'Second Class Lower', 'First Class',
       'Second Class Upper', 'First Class', 'First Class',
       'Second Class Upper', 'Pass', 'Second Class Lower', 'First Class',
       'Second Class Upper', 'First Class', 'Second Class Upper',
       'Second Class Upper', 'Second Class Lower', 'Second Class Lower',
       'Second Class Upper', 'Second Class Lower', 'Second Class Upper',
       'First Class', 'Second Class Lower', 'Second Class Upper',
       'First Class', 'Second Class Lower', 'Second Class Upper',
       'Second Class Lower', 'Second Class Upper', 'First Class',
       'First Class', 'Second Class Upper', 'Second Class Upper',
       'First Class', 'First Class', 'First Class', 'Second Class Upper',
       'Second Class Lower', 'Second Class Upper', 'Second Class Upper',
       'First Class', 'First Class', 'First Class', 'Second Class Upper',
       'Second Class Upper', 'First Class', 'Second Class Lower',
       'Second Class Upper', 'Second Class Upper', 'Second Class Upper',
       'Second Class Upper', 'Pass', 'First Class', 'Second Class Upper',
       'Pass', 'Second Class Lower', 'Second Class Lower', 'First Class',
       'Second Class Upper', 'First Class', 'First Class', 'Pass',
       'Second Class Upper', 'First Class', 'Pass', 'Second Class Upper',
       'Pass', 'First Class', 'Second Class Upper', 'First Class',
       'Second Class Lower', 'Fail', 'Second Class Upper',
       'Second Class Upper', 'Second Class Lower', 'Second Class Upper',
       'Second Class Upper', 'Second Class Lower', 'Second Class Upper',
       'Second Class Upper', 'Pass', 'Second Class Upper', 'First Class',
       'Second Class Lower', 'First Class', 'Second Class Upper',
       'First Class', 'Second Class Lower', 'Fail', 'First Class', 'Pass',
       'Second Class Upper', 'First Class', 'Second Class Upper', 'Pass',
       'Second Class Upper', 'Second Class Upper', 'First Class',
       'Second Class Upper', 'First Class', 'Second Class Upper',
       'Second Class Upper', 'First Class', 'Second Class Lower',
       'First Class'], dtype=object)

In [22]:
#actual class labels
print(y_test)

367    Second Class Upper
144           First Class
700           First Class
127    Second Class Upper
81                   Pass
              ...
553    Second Class Upper
410    Second Class Upper
53            First Class
914    Second Class Lower
286           First Class
Name: grade class, Length: 200, dtype: object

In [23]:
data

,gender,race/ethnicity,parental level of education,lunch,exam preparation course,CSC101,CSC102,CSC103,student score,grade class,grade
0,0,2,1,1,1,72,72,74,72.67,Second Class Upper,1
1,0,3,4,1,0,69,90,88,82.33,First Class,0
2,0,2,3,1,1,90,95,93,92.67,First Class,0
3,1,1,0,0,1,47,57,44,49.33,Pass,3
4,1,3,4,1,1,76,78,75,76.33,First Class,0
...,...,...,...,...,...,...,...,...,...,...,...
995,0,5,3,1,0,88,99,95,94.00,First Class,0
996,1,3,2,0,1,62,55,55,57.33,Second Class Lower,2
997,0,3,2,0,0,59,71,65,65.00,Second Class Upper,1
998,0,4,4,1,0,68,78,77,74.33,First Class,0
999,0,4,4,0,1,77,86,86,83.00,First Class,0

In [24]:
#clf.fit(new_data.data, new_data.target_names[new_data.grade])

In [25]:
clf.score(X_test,y_test)

1.0

In [26]:
# importing the MinMaxScaler
#from sklearn.preprocessing import MinMaxScaler

# creating a scaler
#mm = MinMaxScaler()

# feeding the independent variable into the scaler
#X_train = mm.fit_transform(X_train)
#X_test = mm.transform(X_test)

In [27]:
from sklearn.linear_model import  LogisticRegression

# creating a model
model = LogisticRegression()

# feeding the training data to the model
model.fit(X_train, y_train)

# predicting the test set results
y_pred = model.predict(X_test)

# calculating the classification accuracies
print("Training Accuracy :", model.score(X_train, y_train))
print("Testing Accuracy :", model.score(X_test, y_test))

Training Accuracy : 0.55375
Testing Accuracy : 0.49

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [28]:
y_pred

array(['Second Class Upper', 'Second Class Upper', 'First Class',
       'Second Class Upper', 'Second Class Upper', 'Second Class Upper',
       'First Class', 'First Class', 'Second Class Upper', 'First Class',
       'Second Class Lower', 'First Class', 'Second Class Upper',
       'Second Class Lower', 'Second Class Upper', 'First Class',
       'First Class', 'Second Class Lower', 'Second Class Upper',
       'First Class', 'First Class', 'Pass', 'First Class', 'First Class',
       'Second Class Upper', 'First Class', 'First Class',
       'Second Class Upper', 'First Class', 'First Class',
       'Second Class Upper', 'Second Class Upper', 'First Class',
       'Second Class Upper', 'Second Class Upper', 'Second Class Upper',
       'Pass', 'First Class', 'Second Class Lower', 'Second Class Upper',
       'Second Class Upper', 'Second Class Upper', 'Second Class Upper',
       'Second Class Upper', 'Second Class Lower', 'First Class',
       'First Class', 'First Class', 'Second Class Upper',
       'Second Class Upper', 'First Class', 'Second Class Upper',
       'Second Class Upper', 'Second Class Upper', 'First Class', 'Fail',
       'First Class', 'Second Class Upper', 'First Class', 'First Class',
       'Second Class Upper', 'Pass', 'Second Class Upper',
       'Second Class Upper', 'Second Class Upper', 'Pass',
       'Second Class Upper', 'First Class', 'Second Class Upper',
       'First Class', 'Second Class Lower', 'Pass', 'First Class',
       'First Class', 'First Class', 'Second Class Upper',
       'Second Class Upper', 'Second Class Upper', 'First Class',
       'Second Class Upper', 'Second Class Upper', 'Second Class Upper',
       'Second Class Lower', 'Second Class Upper', 'First Class',
       'Second Class Upper', 'First Class', 'Second Class Upper', 'Pass',
       'Second Class Upper', 'Second Class Upper', 'Second Class Lower',
       'Second Class Upper', 'First Class', 'Second Class Upper',
       'First Class', 'Second Class Lower', 'Second Class Upper',
       'Second Class Upper', 'Second Class Upper', 'Second Class Upper',
       'First Class', 'First Class', 'Second Class Upper',
       'Second Class Lower', 'Second Class Upper', 'First Class',
       'Second Class Upper', 'First Class', 'Second Class Upper',
       'First Class', 'Second Class Upper', 'Second Class Upper',
       'Second Class Upper', 'Second Class Upper', 'Second Class Upper',
       'Second Class Upper', 'Second Class Upper', 'Second Class Upper',
       'Second Class Upper', 'Pass', 'First Class', 'Second Class Upper',
       'Second Class Upper', 'First Class', 'Second Class Upper',
       'Second Class Upper', 'First Class', 'First Class', 'First Class',
       'First Class', 'First Class', 'Pass', 'Second Class Upper',
       'Second Class Upper', 'Second Class Upper', 'First Class',
       'First Class', 'Second Class Upper', 'Second Class Upper',
       'First Class', 'Second Class Lower', 'First Class',
       'Second Class Upper', 'Second Class Upper', 'Second Class Upper',
       'Second Class Lower', 'First Class', 'First Class',
       'Second Class Lower', 'Second Class Upper', 'Second Class Upper',
       'First Class', 'First Class', 'First Class', 'Second Class Upper',
       'Second Class Upper', 'First Class', 'First Class', 'Pass',
       'First Class', 'Pass', 'First Class', 'Second Class Upper',
       'Second Class Upper', 'Second Class Lower', 'Pass', 'First Class',
       'Pass', 'Second Class Upper', 'Second Class Upper',
       'Second Class Upper', 'Second Class Upper', 'First Class',
       'Second Class Upper', 'Second Class Upper', 'Second Class Lower',
       'Second Class Upper', 'Second Class Upper', 'Second Class Upper',
       'Second Class Upper', 'Second Class Upper', 'Second Class Upper',
       'Fail', 'Second Class Upper', 'Second Class Upper', 'First Class',
       'First Class', 'Second Class Upper', 'Second Class Upper',
       'Second Class Upper', 'First Class', 'First Class',
       'Second Class Upper', 'First Class', 'Second Class Lower',
       'First Class', 'Second Class Upper', 'Second Class Upper',
       'First Class'], dtype=object)

In [29]:
new_data

,gender,race/ethnicity,parental level of education,lunch,exam preparation course,CSC101,CSC102,CSC103,student score,grade
0,female,group B,bachelor's degree,standard,none,72,72,74,72.67,1
1,female,group C,some college,standard,completed,69,90,88,82.33,0
2,female,group B,master's degree,standard,none,90,95,93,92.67,0
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.33,3
4,male,group C,some college,standard,none,76,78,75,76.33,0
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.00,0
996,male,group C,high school,free/reduced,none,62,55,55,57.33,2
997,female,group C,high school,free/reduced,completed,59,71,65,65.00,1
998,female,group D,some college,standard,completed,68,78,77,74.33,0
999,female,group D,some college,free/reduced,none,77,86,86,83.00,0

In [30]:
#You fit look maybe you go understand explain for me because i just do copyandpaste, i understood to some extent sha